:root {
    --primary: #9356DC;
    --second: #FF79DA;
    --tertiaire: #99E2D0;
}

header {
    background-color: blueviolet;
    display: flex;
}

.back {
    width: 8%;
    text-align: right;
    padding-top: 40px;
}

#logo {
    background-color: aqua;
    text-align: center;
    width: 100%;
}

#logo img {
    max-width: 100%;
    height: 50%;
    padding-top: 20px;
}

main {
    background-color: yellow;
}

.illustration {
    background-color: brown;
}

.illustration img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu {
    background-color: whitesmoke;
}

.titre-restaurant {
    display: flex;
    background-color: chartreuse;
    justify-content: space-between;
}

.restaurant {
    background-color: blue;
    width: 50%;
}

.coeur {
    background-color: crimson;
}


@keyframes slideToLeft {
    0% {
        right: -60px
    }

    100% {
        right: 0px
    }
}

@keyframes slideToRight {
    0% {
        right: 0px
    }

    100% {
        right: -60px
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
        transform-origin: center center;
    }
}

@keyframes slidetobottom {
    0% {
        transform: translateY(18px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a {
    display: block;
    cursor: pointer;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.capsule {
    position: relative;
    overflow: hidden;
}

.check {
    width: 60px;
    overflow: hidden;
    background-color: deeppink;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    right: -60px;
    top: -10px;
    animation: slideToRight 0.5s ease 0s 1 normal forwards;
}


.capsule:hover .check {
    animation: slideToLeft 0.5s ease 0s 1 normal forwards;
}



.one {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.two {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.three {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.capsule:hover .check div {
    animation: rotate 0.5s;
}

.prix {
    animation: slideToRight 0.5s ease 0s 1 normal forwards;
    position: absolute;
    right: 0px;
    margin-right: 80px;
}

.capsule:hover .prix {
    animation: slideToLeft 0.5s ease 0s 1 normal forwards;
}

.info-capsule {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgb(234, 174, 24);
    position: relative;
}

.plat {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entrees {
    background-color: rgb(24, 99, 131);
}

.plats {
    background-color: darksalmon;
}

.desserts {
    background-color: forestgreen;
}

footer {
    background-color: rgb(59, 59, 59);
    padding: 20px;
}

.mentions a {
    display: flex;
    padding-top: 10px;
    text-decoration: none;
    color: white;
}

.commander {
    text-align: center;
}

footer img {
    max-width: 20%;
    height: 20%;
    filter: brightness(20)
}

footer i {
    padding-right: 5px;
}