:root {
    --primary: #9356DC;
    --second: #FF79DA;
    --tertiaire: #99E2D0;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand'
}

header {
    display: flex;
    height: 60px;
}

#logo {
    text-align: center;
    width: 100%;
}

#logo img {
    max-width: 100%;
    height: 50%;
    padding-top: 20px;
}

main {
    background-color: whitesmoke;
}

/* acceuil*/
.localisation {
    text-align: center;
    background-color: #e4e4e4;
    font-weight: bold;
    height: 40px;
    padding-top: 20px;
}


.reserver {
    font-size: x-large;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: center;
}

.decouvrez {
    flex-wrap: wrap;
    text-align: center;
    font-size: large;
}

.explorer {
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.explorer input {
    border: 1px var(--primary);
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    height: 45px;
    width: 200px;
    box-shadow: 2px 2px 10px grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fonctionnement {
    background-color: white;
    padding: 20px;
}


.liste {
    margin: 0;
    padding: 0;
}

.choix {
    padding: 25px;
    margin: 15px 10px 15px 10px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 25px;
    background-color: #f6f6f6;

}

ol {
    counter-reset: choix;
}

li {
    list-style-type: none;
    counter-increment: choix;
}

li:before {
    content: counter(choix);
    border-radius: 100px;
    background-color: var(--primary);
    color: white;
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choix:hover {
    background-color: #efe5fc;
}

.choix i:hover {
    color: var(--primary);
}

.pastillerestaurant {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resto {
    margin: 20px;
}

.pastilles a {
    text-decoration: none;
    color: black;
}

.pastille {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 6px lightgrey;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.pastille img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.pastilletexte {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.texte {
    padding: 5px 5px;
    line-height: 23px;
}

.like {
    display: flex;
    background-color: white;
}

.coeura {
    padding-top: 25px;
    border: none;
    background-color: white;
    padding: 10px 14px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.coeura>i {
    position: absolute;
    right: 6px;
    top: 20px;
    background-color: white;
}


.coeurvide {
    z-index: 2;
    background-color: whitesmoke;
    opacity: 1;
    transition: opacity 250ms
}

.coeurplein {
    display: inline-block;
    background: linear-gradient(350deg, #99E2D0 0%, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text
}

.coeura>i:hover {
    opacity: 0
}

/* restaurant*/
.back {
    width: 8%;
    text-align: right;
    padding-top: 20px;
    color: black;
}

.coeur {
    padding-top: 25px;
    border: none;
    background-color: whitesmoke;
    padding: 10px 14px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.coeur>i {
    position: absolute;
    right: 6px;
    top: 20px;
}


.coeurvide {
    z-index: 2;
    background-color: whitesmoke;
    opacity: 1;
    transition: opacity 250ms
}

.coeurplein {
    display: inline-block;
    background: linear-gradient(350deg, #99E2D0 0%, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text
}

.coeur>i:hover {
    opacity: 0
}

.illustration img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu {
    background-color: whitesmoke;
    border-radius: 20px;
    position: relative;
    top: -20px;
    padding: 10px;
}

.titre-restaurant {
    display: flex;
    justify-content: space-between;
}

.restaurant {
    width: 50%;
}

@keyframes slideToLeft {
    0% {
        right: -60px
    }

    100% {
        right: 0px
    }
}

@keyframes slideToRight {
    0% {
        right: 0px
    }

    100% {
        right: -60px
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
        transform-origin: center center;
    }
}

@keyframes slidetobottom {
    0% {
        transform: translateY(18px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes like {
    0% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: var(--primary);
        background-color: var(--primary);
    }
}

a {
    display: block;
    cursor: pointer;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service h5 {
    text-decoration: underline 3px var(--tertiaire);
}

.capsule {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    gap: 10px;
}

.nom {
    font-weight: bold;
    font-size: large;
}

.check {
    width: 60px;
    overflow: hidden;
    background-color: var(--tertiaire);
    text-align: center;
    padding: 33px 0;
    position: absolute;
    right: -60px;
    top: -10px;
    animation: slideToRight 0.5s ease 0s 1 normal forwards;
}

.capsule:hover .check {
    animation: slideToLeft 0.5s ease 0s 1 normal forwards;
}

.checkicon {
    color: white;
}

.one {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.two {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.three {
    animation-name: slidetobottom;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.capsule:hover .check div {
    animation: rotate 0.5s;
}

.prix {
    animation: slideToRight 0.5s ease 0s 1 normal forwards;
    position: absolute;
    right: 0px;
    margin-right: 80px;
    font-weight: bold;
    padding-top: 20px;
}

.capsule:hover .prix {
    animation: slideToLeft 0.5s ease 0s 1 normal forwards;
}

.info-capsule {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: white;
    position: relative;
    padding: 10px;
}

.plat {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mentions a {
    display: flex;
    padding-top: 10px;
    text-decoration: none;
    color: white;
}

.commander {
    text-align: center;
    padding: 40px 0px 100px 0px;
}

.commander input {
    border: 1px var(--primary);
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    height: 45px;
    width: 150px;
    box-shadow: 2px 2px 10px grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: rgb(59, 59, 59);
    padding: 20px;
}

.logo {
    padding: 5px 0px 5px 0px;
}

footer img {
    max-width: 20%;
    height: 20%;
    filter: brightness(20)
}

footer i {
    padding-right: 5px;
}

/*desktop*/
@media screen and (min-width : 1224px) {

    /*acceuil*/

    ol {
        display: flex;
    }

    li {
        width: 33%;
    }

    .pastilles {
        display: flex;
        justify-content: space-around;
    }

    .ligne1 {
        width: 40%;
    }

    .ligne2 {
        width: 40%;
    }

    /*restaurant*/
    h5 {
        font-size: larger;
        padding-left: 10px;
    }

    .restaurant {
        width: 25%;
    }

    .titre-restaurant {
        justify-content: center;
        font-size: x-large;
    }

    .coeur {
        padding-left: 5px;
    }

    .coeur i {
        top: 45px;
    }

    .service {
        gap: 20px;
        display: inline-block;
        width: 30%;
        margin: 15px;
    }

    .capsule {
        padding: 5px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid white;
        gap: 10px;
        background-color: white;
        margin: 10px;
    }

    footer {
        padding-bottom: 40px;
    }

    footer img {
        max-width: 20%;
        height: 20%;
        filter: brightness(20)
    }

    .logo {
        text-align: center;
    }

    .mentions {
        display: flex;
        justify-content: space-around;
    }
}